{% extends 'base.html' %} {% block content %}
<h1>{% block title %} Nueva Consulta {% endblock %}</h1>

<form method="post">
  <div class="form-group">
    <label for="fever">Tiene fiebre?</label>
    <select
      id="fever"
      name="fever"
      required
      class="form-control"
      value="{{ request.form['fever'] }}"
    >
      <option selected value="No">No (menor a 37)</option>
      <option value="Si">Si (mayor a 37)</option>
    </select>
  </div>
  <div class="form-group">
    <label for="sore_throat">Tiene dolor de garganta?</label>
    <select
      id="sore_throat"
      name="sore_throat"
      required
      class="form-control"
      value="{{ request.form['sore_throat'] }}"
    >
      <option selected value="NADA">Nada</option>
      <option value="NORMAL">Normal</option>
      <option value="INTENSO">Intenso</option>
    </select>
  </div>
  <div class="form-group">
    <label for="breath">Tiene dificultad para respirar?</label>
    <select
      id="breath"
      name="breath"
      required
      class="form-control"
      value="{{ request.form['breath'] }}"
    >
      <option selected value="NADA">Nada</option>
      <option value="PREXISTENTE">Preexistente</option>
      <option value="AGUDA">Aguda</option>
    </select>
  </div>
  <div class="form-group">
    <label for="fatigue">Cansancio?</label>
    <select
      id="fatigue"
      name="fatigue"
      required
      class="form-control"
      value="{{ request.form['fatigue'] }}"
    >
      <option selected value="NADA">Nada</option>
      <option value="PREXISTENTE">Preexistente</option>
      <option value="AGUDA">Agudo</option>
    </select>
  </div>
  <div class="form-group">
    <label for="smell">Anosmia (pérdida del sentido del olfato)?</label>
    <select
      id="smell"
      name="smell"
      required
      class="form-control"
      value="{{ request.form['smell'] }}"
    >
      <option selected value="NADA">Nada</option>
      <option value="PREXISTENTE">Preexistente</option>
      <option value="AGUDA">Aguda</option>
    </select>
  </div>
  <div class="form-group">
    <label for="taste">Ageusia (pérdida del sentido del gusto)?</label>
    <select
      id="taste"
      name="taste"
      required
      class="form-control"
      value="{{ request.form['taste'] }}"
    >
      <option selected value="NADA">Nada</option>
      <option value="PREXISTENTE">Preexistente</option>
      <option value="AGUDA">Aguda</option>
    </select>
  </div>
  <div class="form-group">
    <label for="cough">Tiene tos?</label>
    <select
      id="cough"
      name="cough"
      required
      class="form-control"
      value="{{ request.form['cough'] }}"
    >
      <option selected value="NADA">Nada</option>
      <option value="PREXISTENTE">Preexistente</option>
      <option value="AGUDA">Aguda</option>
    </select>
  </div>
  <div class="form-group">
    <label for="headache">Tiene cefalea (dolor de cabeza)?</label>
    <select
      id="headache"
      name="headache"
      required
      class="form-control"
      value="{{ request.form['headache'] }}"
    >
      <option selected value="NADA">Nada</option>
      <option value="PREXISTENTE">Preexistente</option>
      <option value="AGUDA">Aguda</option>
    </select>
  </div>
  <div class="form-group">
    <label for="mocus">Tiene secreción nasal?</label>
    <select
      id="mocus"
      name="mocus"
      required
      class="form-control"
      value="{{ request.form['mocus'] }}"
    >
      <option selected value="No">No</option>
      <option value="Si">Si</option>
    </select>
  </div>
  <div class="form-group">
    <label for="risk">Pertenece a grupo de riesgo?</label>
    <select
      id="risk"
      name="risk"
      required
      class="form-control"
      value="{{ request.form['risk'] }}"
    >
      <option selected value="No">No</option>
      <option value="Si">Si</option>
    </select>
  </div>
  <div class="form-group">
    <label for="contact">Tuvo contacto con alguna persona infectada?</label>
    <select
      id="contact"
      name="contact"
      required
      class="form-control"
      value="{{ request.form['contact'] }}"
    >
      <option selected value="No">No</option>
      <option selected value="Casual">Contacto casual</option>
      <option value="Permanente">Contacto permanente (convivencia)</option>
    </select>
  </div>
  <div class="form-group">
    <label for="zone">Cantidad de contagios en su zona</label>
    <select
      id="zone"
      name="zone"
      required
      class="form-control"
      value="{{ request.form['zone'] }}"
    >
      <option selected value="Alto">Zona de alto riesgo</option>
      <option selected value="Bajo">Zona de bajo iesgo</option>
      <option value="NADA">Zona sin casos</option>
    </select>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Enviar Consulta</button>
  </div>
</form>
{% endblock %}
